body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 1.5em;
    color: #C71585;
    margin-bottom: 25px;
    padding: 3px 50px;
    border: 1px solid #C71585;
    border-radius: 20px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.photo-grid {
    margin-left: 60px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 20px;
    margin-bottom: 25px;
}

.photo-placeholder {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    color: #888;
    border: 2px solid #ddd;
}
.photo-grid .photo-placeholder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.cartoon {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #4682B4;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.cartoon span img{ 
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.next-btn {
    background-color: #FF69B4;
    color: white;
    border: none;
    padding: 6px 45px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.next-btn:hover {
    background-color: #FF1493;
}

.decorations {
    margin-top: 20px;
    font-size: 1.5em;
    color: #FF69B4;
}